{% extends 'admin/base_for_admin.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/addquestion_instruction.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{% endblock %}


{% block content %}

<div class="editquestion-area">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Add Algorithm
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Algorithm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="QuestionForm" method="post" novalidate>
        <div>
        {% csrf_token %}
        {{ form.media }}
        </div>
        <div class="select-category">
        {{ form.test_name.label_tag }}
        {{ form.test_name }}
        <p><strong style="color: red;">{{ form.category.errors }}</strong></p>
        </div>
        <div>
        <h6>
        {{ form.question_text.label_tag }}
        </h6>
        {{ form.question_text }}
        <p><strong style="color: red;">{{ form.question_text.errors }}</strong></p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
        </form>
      </div>
    </div>
  </div>
</div>

    <div class="editquestion">

    {% for test in all_test %}
        <h4><br><br><span>Algorithm Questions for test - {{ test.test_name}}</span></h4>
        {% for algo in all_algo %}
            {% if algo.test == test %}
                  <ol>
                      <div>
                          <span style="float: left;">Q. &nbsp;</span>
                          <span style="float: left;">{{ algo.question_text|safe|escape }}</span><br><br>
                       </div>
                  </ol>
                  <a href="{% url "Edit_Algorithm" algo.pk %}">
                  <button type="button" class="btn btn-raised btn-primary">Edit</button>
                  </a>
                  <a href="{% url "Delete_Algorithm" algo.pk %}">
                  <button type="button" class="btn btn-raised btn-danger">Delete</button>
                  </a>
            {% endif %}
        {% empty %}
            <p>No algo Available</p>
        {% endfor %}
    {% endfor %}

{% endblock %}