{% extends 'admin/base_for_admin.html' %}

{% load static %}


{% block head %}
<link rel="stylesheet" href="../../static/core/css/addcategory.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    console.log(1);
    $(document).ready(function () {
        console.log(2);
        $(".change").on('click', function (event) {
            console.log(3);
            var imgid;
            var name;
            var test;
            imgid = $(this).attr("cat_data");
            console.log(imgid);
            name = $('#cat' + imgid).val();
            test = $('#test' + imgid).val();
            num = $('#num' + imgid).val();
            console.log(name);
            console.log(test);
            console.log(num);
            if (name != '') {
                console.log(4);
                $.ajax({
                    url: '{% url 'Edit_Category' %}',
                    data: {
                        'imgid': imgid,
                        'name': name,
                        'test': test,
                        'num':num,
                    },
                    dataType: 'json',
                    success: function (data) {
                    }
                });
            }
        })
    });
</script> 
{% endblock %}

{% block content %}
<main class="category-container">
<div class="category-list">
    <div class="heading">
        <h3>Categories(Add/Edit/Delete)</h3>
    </div>
    <table class="table table-head">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Test Category Name</th>
                <th scope="col">Test Name</th>
                <th scope="col">No. of Question</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
    </table>
        <ol>
            {% for cat in cats %}
            <li>
                <table class="table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <input class="form-control" id="cat{{cat.pk}}" type="text" name="category" value={{ cat.category }}>
                            </td>
                            <td>
                                <select class="t-name form-control" id="test{{cat.pk}}">
                                    <option>{{ cat.test.test_name }}</option>
                                    {% for test in tests %}
                                    <option>{{test.test_name}}</option>
                                    {% empty %}
                                    <option></option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input class="form-control" id="num{{cat.pk}}" type="text" name="number_of_questions" value={{ cat.total_question_display }}>
                            </td>
                            <td>
                                <a>
                                    <button class="change btn btn-raised btn-primary" cat_data="{{cat.pk}}">Save after editing</button>
                                </a>
                                <a href="{% url "Delete_Category" cat.pk %}">
                                    <button type="button" class="btn btn-raised btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            {% empty %}
            <p>No category available</p>
            {% endfor %}
        </ol>
    <form name="CategoryForm" class="addcategory" method="post" novalidate>
    <div class="footer-table">
        {% csrf_token %} 
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        {{ form.category.label_tag }} {{ form.category }}
                        <p>
                            <strong class="text-danger">{{ form.category.errors }}</strong>
                        </p>
                        <td>
                            {{ form.number_of_questions.label_tag }} {{ form.number_of_questions }}
                            <p>
                                <strong class="text-danger">{{ form.number_of_questions.errors }}</strong>
                            </p>
                        </td>
                </tr>
                <tr>
                    <td>
                        {{ form.test_name.label_tag }} {{ form.test_name }}
                        <p>
                            <strong class="text-danger">{{ form.test_name.errors }}</strong>
                        </p>
                    </td>
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-danger">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <td>
                        <button type="submit" class="btn btn-raised btn-primary">Add</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
</div>
</main>
{% endblock %}

