{% extends 'admin/base_for_admin.html' %}
{% load static %}

{% block title %}
    Add Category 
{% endblock %}

{% block head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        console.log(1);
        $(document).ready(function(){
            console.log(2);
            $(".change").on('click', function(event) {
                console.log(3);
                var imgid;
                var name;
                var test;
                imgid = $(this).attr("cat_data");
                console.log(imgid);
                name = $('#cat' + imgid).val();
                test = $('#test' + imgid).val();
                console.log(name);
                console.log(test);
                if (name != ''){
                    console.log(4);
                $.ajax({
                    url: '{% url 'Edit_Category' %}',
                    data: {
                        'imgid': imgid, 
                        'name': name,
                        'test':test,
                        },
                    dataType: 'json',
                    success: function (data) {
                        console.log(5)
                    }
                });
                }
            })
        });
    </script>
{% endblock %}

{% block content %}
    <ol>
        {% for cat in cats %}
            <li><div style="display:flex;">
                <input id="cat{{cat.pk}}" type="text" name="category"  value={{ cat.category }}>
                <input id="test{{cat.pk}}" list="tests" value={{ cat.test.test_name }} >
                <datalist id="tests">
                    {% for test in tests %}
                        <option value="{{test.test_name}}">{{test.test_name}}</option>
                    {% empty %}
                        <option></option>
                    {% endfor %}
                </datalist>
                <button class="change" cat_data="{{cat.pk}}" >Save after editing</button>
                <a href="{% url "Delete_Category" cat.pk %}" ><button>Delete</button></a>
                <br><br>
            </div></li>
        {% empty %}
            <p>No category available</p>
        {% endfor %}
    </ol>
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <!-- <{{ form }}</b><br> -->
        {{ form.category.label_tag }}
        {{ form.category }}<br>
        {{ form.test_name.label_tag }}
        {{ form.test_name }}<br>
        <button type="submit">Add</button>
    </form><br>
{% endblock %}
