<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        console.log(1);
        $(document).ready(function(){
            console.log(2);
            $(".change").on('click', function(event) {
                console.log(3);
                var imgid;
                var name;
                imgid = $(this).attr("cat_data");
                name = $('#cat' + imgid).val();
                if (name != ''){
                    $.get('/admin/editcategory/', {'imgid': imgid, 'name': name}, function (data) {
                })
                }
            })
        });
    </script>
</head>
<body>
    {% for cat in cats %}
        <input id="cat{{cat.pk}}" type="text" name="category"  value={{ cat.category }}>
        <button class="change" cat_data="{{cat.pk}}" >Save after editing</button>
        <a href="{% url "Delete Category" cat.pk %}" ><button>Delete</button></a><br>
    {% empty %}
        <p>No category available</p>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <b>{{ form }}</b><br>
        <button type="submit">Add</button>
    </form><br>
    <a href="{% url 'control_operation' %}" ><button>Back to Navigation Panel</button></a>
    <a href="{% url 'logout' %}" ><button>Logout</button></a>
</body>
</html>
