{% extends 'admin/base_for_admin.html' %}

{% load static %} 


{% block head%}
<link rel="stylesheet" href="{% static 'core/css/login_design.css' %}">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %} 

{% block header %}
    <div>
    </div>
{% endblock %}

{% block content %}
<main class="container">
    <div class="sign-in-container">
        <div class="sign-in">
            <div class="heading">
                <h6>Sign-In</h6>
            </div>
            <form name="AdminLoginForm" method="post" novalidate>
                {% csrf_token %}
                <div class="input-fields text-danger">
                    <div class="input-group">
                        <input type="text" name="username" id="inputSelect" class="form-control" placeholder="&#xf007; username" value="{{ form.username.value|default_if_none:'' }}">
                    </div>
                    <span style="color: red">{{ form.username.errors }}</span>
                    <div class="input-group has-feedback">
                        <input type="password" name="password" id="passwordSelect" class="form-control" placeholder="&#xf084; password">
                        <i class="glyphicon fas fa-eye form-control-feedback"></i>
                    </div>
                    <span style="color: red">{{ form.password.errors }}</span>
                </div>
                <div class="btn-field">
                    <button type="submit" class="btn btn-raised btn-primary">Log-In</button>
                </div>
            </form>
        </div>
    </div>
</main>
<!-- <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{% static 'core/js/particle.js' %}"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/hideshowpassword/2.0.8/hideShowPassword.min.js"></script> -->
<script>
    $(document).ready(function () {
        $('#passwordSelect + .glyphicon').click(function () {
            $(this).toggleClass('fas fa-eye-slash').toggleClass('fas fa-eye');

        var password = document.getElementById("passwordSelect");
        if (password.type === "password") {
            password.type = "text";
        } else {
            password.type = "password";
        }
        });
    });
</script>

{% endblock %}