{% extends 'admin/base_for_admin.html' %} 
{% load static %}


{% block head%}
<link rel="stylesheet" href="{% static 'core/css/candidatelist.css' %}"> 
{% endblock %} 

{% block content %}
  
<div class="candidate-list">
    <form name="CategoryForm" class="addcategory" method="post" novalidate>
        {% csrf_token %} 
        {{ form.test_name.label_tag }} {{ form.test_name }}<br>
        <button type="submit" class="btn btn-raised btn-primary">Search</button><br><br>
    </form>

    <div class="heading">
        <h3>Candidate List for {{ test }}</h3>
    </div>
    <table class="table table-head">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Candidate Name-Email Id</th>
                <th scope="col">View Result</th>
            </tr>
        </thead>
    </table>
    <ol>
        {% for cand in cands %}
        <li>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>
                            {{ cand }}
                        </td>
                        <td>
                            <a href="{% url "View_result" cand.pk %}">
                                <button type="button" class="btn btn-raised btn-primary">View result</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
        {% empty %}
        <p style="color: red">No candidate present.</p>
        {% endfor %}
</div>
{% endblock %}