{% extends 'admin/base_for_admin.html' %}

{% load static %} 

{% block title %} 
Navigation Panel
{% endblock %} 

{% block head%}
<link rel="stylesheet" href="{% static 'core/css/control_design.css' %}">
{% endblock %} 

{% block header %}
    
{% endblock %}

{% block content %}

  <div class="control-options">
    <div class="row">
      <div class="col-4">
        <a href="{% url 'Test_name' %}">
          <div class="control-option text-primary btn">
            <div class="icon">
              <i class="far fa-edit"></i>
            </div>
            <div class="txt">
              <p>Add Test</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-4">
        <a href="{% url 'Add_Category' %}">
          <div class="control-option text-primary btn">
            <div class="icon">
              <i class="far fa-list-alt"></i>
            </div>
            <div class="txt">
              <p>Add/Edit/Delete</p>
              <p></p>Category</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-4">
        <a href="{% url 'Add_Question' %}">
          <div class="control-option text-primary btn">
            <div class="icon">
              <i class="far fa-question-circle"></i>
            </div>
            <div class="txt">
              <p>Add Questions</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-4">
        <a href="{% url 'Show_Candidates' %}">
          <div class="control-option text-primary btn">
            <div class="icon">
              <i class="far fa-id-badge"></i>
            </div>
            <div class="txt">
              <p>See Candidates</p>
            </div>
          </div>
        </a>
      </div>


      <div class="col-4">
        <a href="{% url 'Instruction' %}">
          <div class="control-option text-primary btn">
            <div class="icon">
              <i class="far fa-clipboard"></i>
            </div>
            <div class="txt">
              <p>Add Instructions</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-4">
        <a href="{% url 'Show_Questions' %}">
          <div class="control-option text-primary btn">
            <div class="icon">
              <i class="far fa-copy"></i>
            </div>
            <div class="txt">
              <p>See/Edit/Delete</p> 
              <p>Questions</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-4">
        <a href="{% url 'See_Test' %}">
          <div class="control-option text-primary btn">
            <div class="icon">
              <i class="far fa-newspaper"></i>
            </div>
            <div class="txt">
              <p>See All Tests</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-4">
        <a href="{% url 'Show_Instruction' %}">
          <div class="control-option text-primary btn">
            <div class="icon">
              <i class="far fa-eye"></i>
            </div>
            <div class="txt">
              <p>Show</p> 
              <p>all Instruction</p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>

{% endblock %}