{% extends 'admin/base_for_admin.html' %}
{% load static %}

{% block title %}
    Edit Questions 
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block content %}
    <ol>
        <div style="display: flex;">
            <p>Q.{{ question.question_number }} &nbsp;</p>
            <P>{{ question.question_text|safe|escape }}</p>
        </div>
        <p>Category  -  {{ question.category }}</p>
        <li>{{ question.choice1|safe|escape }}</li>
        <li>{{ question.choice2|safe|escape }}</li>
        <li>{{ question.choice3|safe|escape }}</li>
        <li>{{ question.choice4|safe|escape }}</li>
        <p>Correct Choice  -  {{ question.correct_choice|safe|escape }}</p>
    </ol>
    <form name="TestForm" method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form.media }}
        {{ form.question_text.label_tag }}
        {{ form.question_text }}<br>
        {{ form.category.label_tag }}
        {{ form.category }}<br>
        {{ form.choice1.label_tag }}
        {{ form.choice1 }}<br>
        {{ form.choice2.label_tag }}
        {{ form.choice2 }}<br>
        {{ form.choice3.label_tag }}
        {{ form.choice3 }}<br>
        {{ form.choice4.label_tag }}
        {{ form.choice4 }}<br>
        {{ form.correct_choice.label_tag }}
        {{ form.correct_choice }}<br>
        <!-- {{ form.as_p }}<br> -->
        <button type="submit">submit</button><br>
    </form>
{% endblock %}