{% extends 'admin/base_for_admin.html' %}
{% load static %}

{% block title %}
    Edit Questions 
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block content %}
    <form name="TestForm" method="post">
        {% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.media }}
        {{ form.test_name.label_tag }}
        {{ form.test_name }}<br>
        <p><strong>{{ form.test_name.errors }}</strong></p>
        {{ form.category.label_tag }}
        {{ form.category }}<br>
        <p><strong>{{ form.category.errors }}</strong></p>
        {{ form.question_text.label_tag }}
        {{ form.question_text }}<br>
        <p><strong>{{ form.question_text.errors }}</strong></p>
        {{ form.choice1.label_tag }}
        {{ form.choice1 }}<br>
        <p><strong>{{ form.choice1.errors }}</strong></p>
        {{ form.choice2.label_tag }}
        {{ form.choice2 }}<br>
        <p><strong>{{ form.choice2.errors }}</strong></p>
        {{ form.choice3.label_tag }}
        {{ form.choice3 }}<br>
        <p><strong>{{ form.choice3.errors }}</strong></p>
        {{ form.choice4.label_tag }}
        {{ form.choice4 }}<br>
        <p><strong>{{ form.choice4.errors }}</strong></p>
        {{ form.correct_choice.label_tag }}
        {{ form.correct_choice }}<br>
        <p><strong>{{ form.correct_choice.errors }}</strong></p>
        <!-- {{ form.as_p }}<br> -->
        <button type="submit">submit</button><br>
    </form>
{% endblock %}