{% extends 'admin/base_for_admin.html' %}

{% load static %} 


{% block head %}
<link rel="stylesheet" href="{% static 'core/css/edittestname.css' %}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $(".change").on('click', function(event) {
            var imgid;
            var test;
            var dur;
            imgid = $(this).attr("cat_data");
            test = $('#test' + imgid).val();
            dur = $('#dur' + imgid).val();
            $.ajax({
                url: '{% url 'Edit_Test' %}',
                data: {
                    'imgid': imgid, 
                    'test': test,
                    'dur':dur,
                },
                dataType: 'json',
                success: function ()
                {
                    document.getElementById('centralModalLg').style.display = "block";
                    $(document).ready(function () {
                        setTimeout(function() {
                            document.getElementById('centralModalLg').style.display = "none";
                        }, 2000);
                    });
                },
                error: function()
                {
                    document.getElementById('modal_p_text').innerHTML = "Updation Failed!";
                    document.getElementById('modal_p_text').style.color = "red";
                    document.getElementById('centralModalLg').style.display = "block";
                    $(document).ready(function () {
                        setTimeout(function() {
                            document.getElementById('centralModalLg').style.display = "none";
                        }, 2000);
                    });
                }
            });
        })
    });
</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
<script type="text/javascript">
    function JSalert(id){
        var id = id;
        swal({   title: "Are you sure you want to proceed?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes",
        cancelButtonText: "Cancel",
        closeOnConfirm: false,
        closeOnCancel: false },
        function(isConfirm){
            var linkURL = $('#delete'+id).attr("href");
            if (isConfirm)
            {
                window.location.href = linkURL;
            }
            else {
                swal.close();
            } });
        }
    </script>
    {% endblock %}
    
    {% block content %}
    <main class="container">
        <div class="test-list">
            <h3 class="heading">Test List</h3>
            <div class="modal fade show" id="centralModalLg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none;" aria-hidden="true">
                <div class="success-modal modal-dialog modal-sm" role="document">
                    <!--Content-->
                    <div class="modal-content">
                        <!--Header-->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <!--Body-->
                        <div class="modal-body">
                            <div class="container">
                                <!-- Card deck -->
                                <div class="text-center row">
                                    <h4 class="text-center  w-100">
                                        <p id="modal_p_text" style="color:green;">Saved Successfully</p>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.Content-->
                </div>
            </div>
            <table class="table table-head">
                <thead>
                    <tr>
                        <th>#</td>
                            <th>Test Name</td>
                                <th>Maximum Marks</td>
                                    <th>Status</td>
                                        <th>Action</td>
                                        </tr>
                                    </thead>
                                </table>
                                <ol>
                                    {% for test in tests %}
                                    <li>
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input class="form-control" id="test{{test.pk}}" type="text" name="category" value="{{ test.test_name }}">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" id="dur{{test.pk}}" value={{ test.duration }}>
                                                    </td>
                                                    <td>
                                                        {% if test.on_or_off == True %}
                                                        <p>Started</p>
                                                        {% else %}
                                                        <p>Not started yet</p>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{% url "toggle" test.pk %}">
                                                            <button type="button" class="btn btn-raised btn-warning">Toggle test status</button>
                                                        </a>
                                                        <a>
                                                            <button class="change btn btn-raised btn-primary" cat_data="{{test.pk}}">Save after editing</button>
                                                        </a>
                                                        <button type="button" id="delete{{ test.pk }}" href="{% url "Delete_Test" test.pk %}" class="btn btn-raised btn-danger" onclick="JSalert({{ test.pk }})">Delete</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    {% empty %}
                                    <p style="color: red">No Test available.</p>
                                    {% endfor %}
                                </ol>
                            </div>
                        </main>
                        {% endblock %}
                        