{% extends 'admin/base_for_admin.html' %}
{% load static %}

{% block title %}
    Edit Test 
{% endblock %}

{% block head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        console.log(1);
        $(document).ready(function(){
            console.log(2);
            $(".change").on('click', function(event) {
                console.log(3);
                var imgid;
                var test;
                var dur;
                imgid = $(this).attr("cat_data");
                console.log(imgid);
                test = $('#test' + imgid).val();
                dur = $('#dur' + imgid).val();
                console.log(test);
                console.log(dur);
                $.ajax({
                    url: '{% url 'Edit_Test' %}',
                    data: {
                        'imgid': imgid, 
                        'test': test,
                        'dur':dur,
                        },
                    dataType: 'json',
                    success: function (data) {
                        console.log(5)
                    }
                });
            })
        });
    </script>
{% endblock %}

{% block content %}
    <ol>
        {% for test in tests %}
            <li><div style="display:flex;">
                <input id="test{{test.pk}}" type="text" name="category"  value={{ test.test_name }}>
                <input id="dur{{test.pk}}" value={{ test.duration }} >
                {% if test.on_or_off == True %}
                <P>Status: Start</P>
                {% else %}
                    <P>Status: Stop</P>
                {% endif %}
                <a href="{% url "toggle" test.pk %}" ><button>Toggle test status</button></a>
                <button class="change" cat_data="{{test.pk}}" >Save after editing</button>
                <br><br>
            </div></li>
        {% empty %}
            <p>No category available</p>
        {% endfor %}
    </ol>
{% endblock %}
