{% extends 'admin/base_for_admin.html' %}
{% load static %}

{% block title %}
    Instructions
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block content %}
    <p>Previously Stored</p>
    {% if Iname == '' %}
        <p>No instructions Feeded</p>
    {% else %}
        {{ Iname|safe|escape }}<br><br>
    {% endif %}

    <form name="TestForm" method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form.media }}
        {{ form.as_p }}<br>
        <button type="submit">submit</button><br>
    </form>
{% endblock %}