{% extends 'admin/base_for_admin.html' %}
{% load static %}

{% block title %}
    Instructions
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block content %}
    <!-- <p>Previously Stored</p>
    {% if Iname == '' %}
        <p>No instructions Feeded</p>
    {% else %}
        {{ Iname|safe|escape }}<br><br>
    {% endif %} -->

    <form name="TestForm" method="post">
        {% csrf_token %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.media }}
        {{ form.instruction.label_tag }}
        {{ form.instruction }}<br>
        <p><strong>{{ form.instruction.errors }}</strong></p>
        {{ form.test_name.label_tag }}
        {{ form.test_name }}<br>
        <p><strong>{{ form.test_name.errors }}</strong></p>
        <button type="submit">submit</button><br>
    </form>
{% endblock %}