{% extends 'admin/base_for_admin.html' %} 
{% load static %} 

{% block title %} 
Show Result 
{% endblock %} 

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/showquestion_instruction.css' %}">
{% endblock %} 

{% block content %}
<br><br><br><br><br><br>
<div class="result">
    <h3 class="heading">Result</h3>
    <div class="row">
            <div class="col-6 candidate-details">
                <h4 style="float: left;"><i class="fas fa-user-graduate"></i>&nbsp;&nbsp;</h4><h4 style="float: left;">{{ cand.name }}</h4><br><br>      
                <h6 style="float: left;"><i class="fas fa-user-friends"></i>&nbsp;&nbsp;&nbsp;&nbsp;</h6><h6 style="float: left;">{{ cand.father_name }}</h6><br><br>
                <h6 style="float: left;"><i class="fas fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6><h6 style="float: left;">{{ cand.email }}</h6><br><br>
                <h6 style="float: left;"><i class="fas fa-mobile-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6><h6 style="float: left;">{{ cand.phone_number }}</h6><br>
            </div>
        </div>
    <table class="table table-hover">
        <thead class="table-head">
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Total questions</th>
                <th scope="col">Answered correctly</th>
                <th scope="col">Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for i in l %}
            <tr>
                {% for j in i %}
                <td>{{ j }}</td>
                {% empty %}
                <p>Nothing for this section</p>
                {% endfor %}
            </tr>
            {% empty %}
            <p>Nothing attempted</p> {% endfor %}
            </tr>
        </tbody>
    </table>


    

    <table class="table table-hover">
            {% for select in selects %} 
            {% if select.question_text.correct_choice == select.selected_choice %}
        <tbody>
            <tr>
                <td>
                    <ol>
                        <div style="display: flex;">
                            <b><span style="float: left;">Q. &nbsp;</span></b>
                            <span style="float: left;">{{ select.question_text|safe|escape }}</span>
                        </div><br><br>
                        <div style="display: flex;">
                            <span style="float: left;"><li>{{ select.question_text.choice1|safe|escape }}</li></span>
                            {% if select.selected_choice == 1 %}
                            <b><span style="color: green; font-size: 25px; display: -webkit-flex; float: left;">&nbsp;  Y  </span></b>
                          {% endif %}
                        </div><br><br>
                        <div style="display: flex;">
                            <span style="float: left;"><li>{{ select.question_text.choice2|safe|escape }}</li></span>
                            {% if select.selected_choice == 2 %}
                            <b><span style="color: green; font-size: 25px; display: -webkit-flex; float: left;">&nbsp;  Y  </span></b>
                          {% endif %}
                        </div><br><br>
                        <div style="display: flex;">
                            <span style="float: left;"><li>{{ select.question_text.choice3|safe|escape }}</li></span>
                            {% if select.selected_choice == 3 %}
                            <b><span style="color: green; font-size: 25px; display: -webkit-flex; float: left;">&nbsp;  Y  </span></b>
                          {% endif %}
                        </div><br><br>
                        <div style="display: flex;">
                            <span style="float: left;"><li>{{ select.question_text.choice4|safe|escape }}</li></span>
                            {% if select.selected_choice == 4 %}
                            <b><span style="color: green; font-size: 25px; display: -webkit-flex; float: left;">&nbsp;  Y  </span></b>
                          {% endif %}
                        </div><br><br>
                        <b><p>Correct choice - {{ select.question_text.correct_choice }}</p></b>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <ol>
                        <div style="display: flex;">
                            <b><span style="float: left;">Q. &nbsp;</span></b>
                            <span style="float: left;">{{ select.question_text|safe|escape }}</span>
                        </div><br><br>
                        <div style="display: flex;">
                            <span style="float: left;"><li>{{ select.question_text.choice1|safe|escape }}</li></span>
                            {% if select.selected_choice == 1 %}
                            <b><span style="color: red; font-size: 25px; display: -webkit-flex; float: left;">&nbsp;  N  </span></b>
                            {% endif %}
                        </div><br><br>
                        <div style="display: flex;">
                            <span style="float: left;"><li>{{ select.question_text.choice2|safe|escape }}</li></span>
                            {% if select.selected_choice == 2 %}
                            <b><span style="color: red; font-size: 25px; display: -webkit-flex; float: left;">&nbsp;  N  </span></b>
                            {% endif %}
                        </div><br><br>
                        <div style="display: flex;">
                            <span style="float: left;"><li>{{ select.question_text.choice3|safe|escape }}</li></span>
                            {% if select.selected_choice == 3 %}
                            <b><span style="color: red; font-size: 25px; display: -webkit-flex; float: left;">&nbsp;  N  </span></b>
                            {% endif %}
                        </div><br><br>
                        <div style="display: flex;">
                            <span style="float: left;"><li>{{ select.question_text.choice4|safe|escape }}</li></span>
                            {% if select.selected_choice == 4 %}
                            <b><span style="color: red; font-size: 25px; display: -webkit-flex; float: left;">&nbsp;  N  </span></b>
                            {% endif %}
                        </div><br><br>
                        <b><p>Correct choice - {{ select.question_text.correct_choice }}</p></b>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %} {% empty %}
    <p>No questions attempted.</p>
    {% endfor %} {% endblock %}