{% extends 'admin/base_for_admin.html' %} 
{% load static %} 

{% block title %} 
Show Result 
{% endblock %} 

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/showquestion_instruction.css' %}">
{% endblock %} 

{% block content %}
<div class="result">
    <h3 class="heading">Result</h3>
    <div class="row">
            <div class="col-1 candidate-details">
                <h4><i class="fas fa-user-graduate"></i></h4>
                <h6><i class="fas fa-user-friends"></i></h6>
                <h6><i class="fas fa-envelope"></i></h6>
                <h6><i class="fas fa-mobile-alt"></i></h6>
            </div>
            <div class="col-5 candidate-details">
                <h4>{{ cand.name }}</h4>
                <h6>{{ cand.father_name }}</h6>
                <h6>{{ cand.email }}</h6>
                <h6>{{ cand.phone_number }}</h6>
            </div>
            <div class="col-6 dwd-button">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-raised btn-primary">Download Result as PDF</button>
                </form>
            </div>
        </div>
    <table class="table table-hover">
        <thead class="table-head">
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Total questions</th>
                <th scope="col">Answered correctly</th>
                <th scope="col">Percentage</th>
            </tr>
        </thead>
        <tbody>
            {% for i in l %}
            <tr>
                {% for j in i %}
                <td>{{ j }}</td>
                {% empty %}
                <p>Nothing for this section</p>
                {% endfor %}
            </tr>
            {% empty %}
            <p>Nothing attempted</p> {% endfor %}
            </tr>
        </tbody>
    </table>


    

    <table class="table table-hover">
            {% for select in selects %} 
            {% if select.question_text.correct_choice == select.selected_choice %}
        <tbody>
            <tr>
                <td>
                    
                        <p style="margin-left: -15px">Q - {{ select.question_text|safe|escape }}</p>
                    <ol>
                        <div style="display: flex;">
                            <li>{{ select.question_text.choice1|safe|escape }}</li>
                            {% if select.selected_choice == 1 %}
                            <b><p style="color: green; font-size: 25px; display: -webkit-flex; display: flex;">&nbsp;  Y  </p></b>
                            {% endif %}
                        </div>
                        <div style="display: flex;">
                            <li>{{ select.question_text.choice2|safe|escape }}</li>
                            {% if select.selected_choice == 2 %}
                            <b><p style="color: green; font-size: 25px; display: -webkit-flex; display: flex;">&nbsp;  Y  </p></b>
                            {% endif %}
                        </div>
                        <div style="display: flex;">
                            <li>{{ select.question_text.choice3|safe|escape }}</li>
                            {% if select.selected_choice == 3 %}
                            <b><p style="color: green; font-size: 25px; display: -webkit-flex; display: flex;">&nbsp;  Y  </p></b>
                            {% endif %}
                        </div>
                        <div style="display: flex;">
                            <li>{{ select.question_text.choice4|safe|escape }}</li>
                            {% if select.selected_choice == 4 %}
                            <b><p style="color: green; font-size: 25px; display: -webkit-flex; display: flex;">&nbsp;  Y  </p></b>
                            {% endif %}
                        </div>
                        <p>Correct choice - {{ select.question_text.correct_choice }}</p>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <ol>
                        <p>Q - {{ select.question_text|safe|escape }}</p>
                        <div style="display: flex;">
                            <li>{{ select.question_text.choice1|safe|escape }}</li>
                            {% if select.selected_choice == 1 %}
                            <b><p style="color: red; font-size: 25px; display: -webkit-flex; display: flex;">&nbsp;  N  </p></b>
                            {% endif %}
                        </div>
                        <div style="display: flex;">
                            <li>{{ select.question_text.choice2|safe|escape }}</li>
                            {% if select.selected_choice == 2 %}
                            <b><p style="color: red; font-size: 25px; display: -webkit-flex; display: flex;">&nbsp;  N  </p></b>
                            {% endif %}
                        </div>
                        <div style="display: flex;">
                            <li>{{ select.question_text.choice3|safe|escape }}</li>
                            {% if select.selected_choice == 3 %}
                            <b><p style="color: red; font-size: 25px; display: -webkit-flex; display: flex;">&nbsp;  N  </p></b>
                            {% endif %}
                        </div>
                        <div style="display: flex;">
                            <li>{{ select.question_text.choice4|safe|escape }}</li>
                            {% if select.selected_choice == 4 %}
                            <b><p style="color: red; font-size: 25px; display: -webkit-flex; display: flex;">&nbsp;  N  </p></b>
                            {% endif %}
                        </div>
                        <p>Correct choice - {{ select.question_text.correct_choice }}</p>
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %} {% empty %}
    <p>No questions attempted.</p>
    {% endfor %} {% endblock %}