{% extends 'admin/base_for_admin.html' %}
{% load static %} 


{% block head%}
<link rel="stylesheet" href="{% static 'core/css/showquestion_instruction.css' %}">
<script type="text/javascript" src="{% static " ckeditor/ckeditor-init.js " %}"></script>
<script type="text/javascript" src="{% static " ckeditor/ckeditor/ckeditor.js " %}"></script>
<script type="text/javascript">
    function JSalert(id){
        var id = id;
        swal({   title: "Are you sure you want to proceed?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes",
        cancelButtonText: "Cancel",
        closeOnConfirm: false,
        closeOnCancel: false },
        function(isConfirm){
            var linkURL = $('#delete'+id).attr("href");
            if (isConfirm)
            {
                window.location.href = linkURL;
            }
            else {
                swal.close();
            } });
        }
</script>
{% endblock %} 

{% block content %}
<div class="instruction-list">
    <h3 class="heading">Instructions List</h3>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <ol>
                        {% for inst in insts %}
                        <li class="list">
                            <h5>Instructions for test {{inst.test}}</h5>
                            {{ inst.instruction|safe|escape }}
                            <a href="{% url "Edit_Instruction" inst.pk %}">
                                <button type="button" class="btn btn-raised btn-primary">Edit</button>
                            </a>
                            <button type="button" id="delete{{ inst.pk }}" href="{% url "Delete_Instruction" inst.pk %}" class="btn btn-raised btn-danger" onclick="JSalert({{ inst.pk }})">Delete</button>
                            {% empty %}
                            <p style="color: red">No Instructions Available.</p>
                        </li>
                        {% endfor %}
                    </ol>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}