{% extends 'admin/base_for_admin.html' %}
{% load static %}



{% block head %}
<link rel="stylesheet" href="{% static 'core/css/showquestion_instruction.css' %}">
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript">
    function JSalert(id){
        var id = id;
        swal({   title: "Are you sure you want to proceed?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes",
        cancelButtonText: "Cancel",
        closeOnConfirm: false,
        closeOnCancel: false },
        function(isConfirm){
            var linkURL = $('#delete'+id).attr("href");
            if (isConfirm)
            {
                window.location.href = linkURL;
            }
            else {
                swal.close();
            } });
        }
</script>
{% endblock %}

{% block content %}
<div class="questions-list">
    <h3 class="heading">Questions for category - {{ cat.category }}</h3>
    <div id="accordian">
        {% for que in ques %}
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>
                        <ol>
                            <div>
                                <span style="float: left;">Q. &nbsp;</span>
                                <span style="float: left;">{{ que.question_text|safe|escape }}</span>
                            </div><br><br>
                            <li>{{ que.choice1|safe|escape }}</li>
                            <li>{{ que.choice2|safe|escape }}</li>
                            <li>{{ que.choice3|safe|escape }}</li>
                            <li>{{ que.choice4|safe|escape }}</li>
                            <p>Correct Choice - {{ que.correct_choice|safe|escape }}</p>
                        </ol>
                        <a href="{% url "Edit_Question" que.pk %}">
                            <button type="button" class="btn btn-raised btn-primary">Edit</button>
                        </a>
                        <button type="button" id="delete{{ que.pk }}" href="{% url "Delete_Question" que.pk %}" class="btn btn-raised btn-danger" onclick="JSalert({{ que.pk }})">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        {% empty %}
        <p style="color: red;" >No Questions for this category present.</p>
        {% endfor %}
    </div>
</div>
{% endblock%}
