{% extends 'admin/base_for_admin.html' %}
{% load static %}

{% block title %}
    Show Instructions
{% endblock %}

{% block head %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block content %}
    <ol>
        {% for inst in insts %}
            <li><p>Instructions for test {{inst.test}} </p></li>
            {{ inst.instruction|safe|escape }}
            <a href="{% url "Edit_Instruction" inst.pk %}" ><button>Edit</button></a>
            <a href="{% url "Delete_Instruction" inst.pk %}" ><button>Delete</button></a>
        {% empty %}
            <p>No Instructions for this test.</p>
        {% endfor %}
    </ol>
{% endblock %}