{% extends 'admin/base_for_admin.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'core/css/showquestion_instruction.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="questions-list">
        <h3 class="heading">Category List</h3>
        <div id="accordian">
            {% for test in test_list %}
                <h5>Categories for Test - {{ test.0 }}</h5>
                {% for category in test.1 %}
                    <a href="{% url "Show_Questions" category.pk %}">
                    <p>See questions for {{ category.category }} category</p></a><br>
                {% empty %}
                    <p class="danger" style="color: red">No category for this test</p>
                {% endfor %}
            {% empty %}
                <p class="danger" style="color: red">No test present.</p>
            {% endfor %}
        </div>
        </div>
{% endblock%}
