
html{
  font-size: 10px;
}

body{
background: url('../assets/images/newbkg0.png');
background-repeat: no-repeat;
background-attachment: fixed;
height: 100%;
}


/*#vertical_line{
  position: relative;
  width: 5px;
  height: 50px;
  color: white;
}*/

.title{
  font-size: 38px;
  font-family:"Poppins", "Arial", "Helvetica Neue", sans-serif;
  color: black;
  margin:23px 5px 1px 40%;
}
.card {
    position: absolute;
    width: 65%;
    margin-left: 17%;
    background: white;
    margin-top: 5%;
    border-radius: 7px;
}

.vector_img{
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  margin: -28px 0px 0px -58px;

}
.vl {
  border-left: 2px solid #e36161;
}

img{
  margin:20px 1px 8px 16px;
}


.form_body{
  width: 50%;
  margin-left: 45%;
  background: transparent;
  margin-top:-5.5%;
  border-radius: 5px;
}

.row {

  flex-wrap: wrap;
  margin-bottom:0px;

}


.input-field>label {
  color:#d7d7d7;
}

/* label focus color */
 .input-field input:focus + label {
   color: #08d342 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #08d342 !important;

 }
 .validate{
  color: white;
 }

i.prefix{
  color:#a5adab !important;
}


.content{
  margin-left: 10%;
}

.form_detail{
  margin-right: 40%;
}

.check1{
  padding:6px;
  margin-right:8px;
  color: #d7d7d7;
}
.check2{
 color: #d7d7d7;
}
/** {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    background-color: #292d35;
}
*/
[type="checkbox"]:checked+span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #08d342;
    border-bottom: 2px solid #08d342;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.svg-wrapper {
  position: relative;
  width: 198px;
  height: 50px;
  margin-left: 40%;
  margin-top:4%;
  margin-bottom: 2%;

}

#shape {
  stroke-width: 8px;
  fill: #310e8bf5;
  stroke: #310e8bf5;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;

}



#text {
  margin-top: -38px;
  text-align: center;
  border-radius: 4px;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #310e8bf5;
  fill: transparent;
  color:#310e8bf5;

}

a{
  color: #FCFFFC;
  font-size: 20px;

}

.svg-wrapper:hover a{
  color:#310e8bf5;
}

.points_container{
  margin: 0px 0px 0px 5px;
  padding-left: 2px;
  padding-right: 6px;
}
#points{
  color: black;
  font-size: 20px;
}
p{
margin:10px 0 0 30px !important;
}

ul:not(.browser-default)>li {
list-style-type: circle !important;
}
