{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Show Questions</title>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
</head>
<body>
    <p>Q{{ question.question_number }}</p>{{ question.question_text|safe|escape }}
    <p>1.</p>{{ question.choice1|safe|escape }}
    <p>2.</p>{{ question.choice2|safe|escape }}
    <p>3.</p>{{ question.choice3|safe|escape }}
    <p>4.</p>{{ question.choice4|safe|escape }}
    <p>Correct Choice</p>{{ question.correct_choice|safe|escape }}<br>
    <form name="TestForm" method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ form.media }}
        {{ form.as_p }}<br>
        <button type="submit">submit</button><br>
    </form>
    <a href="{% url 'control_operation' %}" ><button>Back to Navigation Panel</button></a>
    <a href="{% url 'logout' %}" ><button>Logout</button></a>
</body>
</html>