{% extends 'candidate/base.html' %}
{% block title %}{{ category }}{% endblock %}

{% load staticfiles %}

{% block content %}
        <div class="row">
            <div class="col-9">
                <div class="row">

                    <section class="col-12 categories">
                        {% for category in all_category %}
                        <span class="category" id={{ category.category }}>
                            <a href={% url 'category' category.category 1 %}>
                            <button type="button" class="btn btn-primary">{{ category.category }}</button>
                            </a>
                        </span>
                        {% endfor %}

                    </section>
                    <section class="col-12 question-options">
                        <div class="question">
                            <span class="question-no.">
                                1.
                            </span>
                            <h6>
                                 {% autoescape off %}
                               {{ question.question_text }}
                                {% endautoescape %}
                            </h6>
                        </div>
                        <div class="options">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="1" class="option">
                                    {% autoescape off %}
                                    {{ question.choice1 }}
                                    {% endautoescape %}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="2" class="option">
                                    {% autoescape off %}
                                    {{ question.choice2 }}
                                    {% endautoescape %}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="3" class="option">
                                    {% autoescape off %}
                                    {{ question.choice3 }}
                                    {% endautoescape %}
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="4" class="option">
                                    {% autoescape off %}
                                    {{ question.choice4 }}
                                    {% endautoescape %}
                                </label>
                            </div>
                        </div>
                    </section>

                    <section class="col-12">
                        <button type="button" class="btn btn-raised btn-primary">Previous</button>
                        <button type="button" class="btn btn-raised btn-warning">Mark for review & next</button>
                        <button type="button" class="btn btn-raised btn-primary">Save and next</button>
                    </section>
                </div>
            </div>
            <div class="col-3">

                <div class="row question_status">
                    {% for i in total_question_dict %}
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">{{ i }}</button>
                    </div>
                    {% endfor %}

                    <div class="col-12">
                        <button type="button" class="btn btn-raised btn-primary disabled">Submit</button>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}