<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Question_portal</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/core/css/question_portal_design.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="../../static/core/assets/images/akglogo.png">
            </div>
            <div class="heading">
                <h3>AKGEC-Aptitude Test</h3>
            </div>
        </div>

        <section>
            <div style="width:100%; height:20px; background-color:#000000" class="timer">
                <h6 style="color:#fff; float:right">inst.</h6>
            </div>
        </section>

        <section>
            <div style="width:100%; height:50px; background-color:#cacaca" class="timer">
                <h3 style="float:right;">Timer</h3>
            </div>
        </section>
    </header>


    <main>
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <section class="col-12 categories">
                        <span class="category" id="category1">
                            <button type="button" class="btn btn-primary">Category-1</button>
                        </span>
                        <span class="category" id="category2">
                            <button type="button" class="btn btn-primary">Category-2</button>
                        </span>
                        <span class="category" id="category3">
                            <button type="button" class="btn btn-primary">Category-3</button>
                        </span>
                    </section>
                    <section class="col-12 question-options">
                        <div class="question">
                            <span class="question-no.">
                                1.
                            </span>
                            <h6>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
                                in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                                recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                                Ipsum.
                            </h6>
                        </div>
                        <div class="options">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Option1
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Option2
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Option3
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"> Option4
                                </label>
                            </div>
                        </div>
                    </section>
                    <section class="col-12">
                        <button type="button" class="btn btn-raised btn-primary">Previous</button>
                        <button type="button" class="btn btn-raised btn-warning">Mark for review & next</button>
                        <button type="button" class="btn btn-raised btn-primary">Save and next</button>
                    </section>
                </div>
            </div>
            <div class="col-3">
                <!-- <div class=" row exam_status">
                    <div class="col-6">
                        <button type="button" class="btn btn-raised btn-success">answered</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-raised btn-danger">not-answered</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-raised btn-warning">marked for review</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-raised btn-active">not-visited</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-raised btn-info">answered and marked for review</button>
                    </div>
                </div> -->
                <div class="row question_status">
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">2</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">3</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">4</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">5</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-raised btn-active">1</button>
                    </div>

                    <div class="col-12">
                        <button type="button" class="btn btn-raised btn-primary disabled">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
</body>

</html>