<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>signup</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/core/css/signup_design.css">
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="../../static/core/assets/images/akglogo.png">
            </div>
            <div class="heading">
                <h3>AKGEC-Aptitude Test</h3>
            </div>
        </div>
    </header>

    <main>
        <div class="sign-up">
            <div class="heading">
                <h6>Sign-Up</h6>
            </div>

            <form>
                <div class="form-group">
                    <label for="nameInput1" class="bmd-label-floating">Name</label>
                    <input type="text" class="form-control" id="nameInput1">
                </div>

                <div class="form-group">
                    <label for="emailInput" class="bmd-label-floating">Email Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>

                <div class="form-group">
                    <label for="nameInput2" class="bmd-label-floating">Father's Name</label>
                    <input type="text" class="form-control" id="nameInput2">
                </div>

                <div class="form-group">
                    <label for="phoneInput" class="bmd-label-floating">Mobile Number</label>
                    <input type="text" class="form-control" id="phoneInput">
                </div>

            </form>

            <div class="btn-field">
                <button type="button" class="btn btn-raised btn-primary">Sign-Up</button>
            </div>

        </div>
    </main>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
</body>

</html>