{% extends 'core/base.html' %}

{% block content %}

{% block login %}
    <span>Hello {{ request.session.name}}</span>
        <a href={% url 'session_out' %} >Logout</a>
{% endblock %}
     {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

{% endblock %}