<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Name</title>
</head>
<body>
    <form name="TestForm" method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <label for="name">{{ form.test_name.label_tag }}</label><br>
        <input type="text" name="test_name"  value={{ Tname.test_name }}><br>
        <label for="name">{{ form.duration.label_tag }}</label><br>
        <input type="text" name="duration" value={{ Tname.duration }}><br>
        <button type="submit">ADD</button><br>
    </form>
    <a href="{% url 'control_operation' %}" ><button>Back to Navigation Panel</button></a>
    <a href="{% url 'logout' %}" ><button>Logout</button></a>
</body>
</html>