{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Software Incubator</title>
    <link rel="icon" href="{% static "core/assets/images/logo.png" %}">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/question_portal_design.css' %}">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img id="check" src="{% static 'core/assets/images/akglogo.png' %}">
            </div>
            <div class="heading">
                <h3>AKGEC-Aptitude Test</h3>
            </div>
        </div>
        <div class="inst-timer">
            <a href={% url 'instruction' %}>
                <button type="button" class="btn btn-info bmd-btn-fab" data-toggle="tooltip" data-placement="bottom" title="Instructions">
                    <i class="material-icons fas fa-info"></i>
                </button>
            </a>
            <div id="clockdiv" class="clockdiv">
                <div class="bg-danger">
                    <span class="hours"></span>
                    <div class="smalltext">Hours</div>
                </div>
                <div class="bg-danger">
                    <span class="minutes"></span>
                    <div class="smalltext">Minutes</div>
                </div>
                <div class="bg-danger">
                    <span class="seconds"></span>
                    <div class="smalltext">Seconds</div>
                </div>
            </div>
        </div>
    </header>



    <main class="question-area">
        <div class="row">
            <div class="col-9">
                <div class="row">

                    <section class="col-12 categories">
                        {% for category in all_category %}
                        <span class="category" id={{ category.category }}>
                            <a href={% url 'category' category.category 1 %}>
                                <button type="button" class="btn btn-primary">{{ category.category }}</button>
                            </a>
                        </span>
                        {% endfor %}
                        {# for category #}

                        <span class="category" id="algorithm">
                            <a href={% url 'algorithm' 1 %}>
                                <button type="button" class="btn btn-primary">algorithm</button>
                            </a>
                        </span>

                    </section>

                    <section class="col-12 question-options">
                        <div class="question">
                            <span class="question-no.">
                                {{ id }}.
                            </span>
                            <h6>
                                 {% autoescape off %}
                               {{ question.question_text|safe|escape }}
                                {% endautoescape %}
                            </h6>
                        </div>

                    </section>

                    <section class="col-12 ">

                        <div class="response">
                            {% if id == 1 %}
                            <button type="button" class="btn btn-raised btn-primary" disabled>Previous</button>
                            {% else %}
                            <a href={% url 'algorithm' id|add:"-1" %}>
                                <button type="button" class="btn btn-raised btn-primary" >Previous</button>
                            </a>
                            {% endif %}
                            {% if id == total_question %}
                                <button type="button" class="btn btn-raised btn-warning" disabled>Next</button>

                            {% else %}
                                <a href={% url 'algorithm' id|add:"1" %}>
                                <button type="button" class="btn btn-raised btn-warning">Next</button>
                            </a>
                            {% endif %}


                        </div>
                    </section>
                </div>
            </div>
            <div class="col-3">
                <div class="row question-status">
                    {% for i in question_list_number %}
                    <div class="col-4">
                        <a href={% url 'algorithm' i %}>
                            <button type="button" class="btn btn-raised btn-active status3" >{{ i }}</button>

                        </a>
                    </div>
                    {% endfor %}

                </div>
                <div class="end">
                    <div class="col-12">
                        <a href="{% url 'session_out' %}">
                        <button type="submit" class="btn btn-raised btn-primary disabled">End Test</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>




    <script>var remain_time = "{{ remain_time }}";</script>
    <script type="text/javascript" src="{% static 'core/js/timer.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script> 

</body>

</html>
