{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Select Your Test Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static '/core/css/get_test.css'%}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>


</head>
<body>
	<div class="z-depth-4 card">

		<div class="vector_img"><img src="{% static '/core/assets/images/art220.png'%}">
		</div>
        <div class=" row form_body">
            <h2 class="title">Select Your Test</h2><br><h2 class="title1"></h2>

               <div class="row">
                  <form class="col s12" method="post" name="form1">
                    {% csrf_token %}
                  	<div class="vl" style="position: absolute;height: 300px;margin: -40px 1px 1px 0px;"></div>
                    <div class="container">
  <div class="input-field col s12">
     {{form.test_name}}
  </div>
</div>
</form>
</div>
  <div class="svg-wrapper" style="margin: 20px 1px 1px 70px">
          <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
            <rect id="shape" height="40" width="150"  />

              <div id="text">
                <a href="javascript: submitform()" id="sub"><span class="spot"></span>Procced <i class=" material-icons forward">arrow_forward</i> </a>

              </div>


          </svg>
        </div>
</div>
</div>
</body>
<script type="text/javascript">
        function submitform() {   document.form1.submit(); }
   </script>

<script>
(function($){
  $(function(){
    // Plugin initialization
    $('select').not('.disabled').formSelect();
  });
})(jQuery); // end of jQuery name space

</script>
</html>