{% extends 'candidate/base.html' %}
{% load static %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.min.js"></script>
    <link rel="stylesheet" href="{% static 'core/css/instruction.css' %}">
    <script src="{% static 'core/js/back_button_disable.js' %}"></script>
{% endblock %}
{% block logout %}
    {% block login %}
        <h3>{{ test_name }}</h3>
        <span>Hello {{ name }}!</span>
    {% endblock %}
    <script>

    </script>
{% endblock %} 

{% block content %}
    <div class="instructions-container row">
        <div class="col-4 bg-img">
            <img src="{% static 'core/assets/images/instruction.png' %}" class="img">
        </div>
    <div class="col-8">
        <div class="instructions">
            <h6>{% for instr in instruction %} {% autoescape off %} {{ instr.instruction }} {% endautoescape %} {% endfor %}</h6>
            <div class="ok-btn>">
            <a href={% url 'category' category.category 1 %}>
            <button type="button" class="btn btn-raised btn-primary">OK</button>
            </a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
