{% extends 'candidate/base.html' %} 

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/instruction.css' %}"> {% endblock %} {% block logout %}
<a href={% url 'session_out' %}>
    <button type="button" class="btn btn-raised btn-primary">Log-Out</button>
</a>
{% endblock %} 

{% block content %}
<div class="instructions-container">
    <h3>INSTRUCTIONS</h3>
        <div class="instructions">
            <h6>
                {% for instr in instruction %} {% autoescape off %} {{ instr.instruction }} {% endautoescape %} {% endfor %}
            </h6>
        </div>

        <a href={% url 'category' category.category 1 %}>
            <button type="button" class="btn btn-raised btn-primary">OK</button>
        </a>

</div>
{% endblock %}