{% load recaptcha2 %}
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>Practice Test</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
      <link rel="stylesheet" href="{% static '/core/css/registration.css'%}">
    <!-- {%  recaptcha_init %} -->
</head>

<body>

    <div class="z-depth-4 card">
        <h2 class="title" style="text-align: center">Practice Test</h2>
    
            
        <div class="svg-wrapper">
                <svg height="40" width="200" xmlns="http://www.w3.org/2000/svg">
                  <rect id="shape" height="40" width="200"  />
                  <div id="text">
                      <a href="/start-test/">Start Test</a>
                  </div>
                </svg>
        </div>
    </div>
</body> 
</html>   