{% load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>question portal</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/question_portal_design.css' %}">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img id="check" src="{% static 'core/assets/images/silogo.png' %}">
            </div>
            <div class="heading">
                <h3>Test Name</h3>
            </div>
            <div class="end">
                <div class="col-12">
                    <a href="{% url 'session_out' %}">
                        <button type="submit" class="btn btn-raised btn-primary disabled">End Test</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="inst-timer">
            <a>
                <button type="button" class="btn btn-info bmd-btn-fab" data-toggle="modal" data-target="#inst-modal">
                    <i class="material-icons fas fa-info"></i>
                </button>
            </a>
            <div class="modal fade" id="inst-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Instruction</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="instructions-container">
                            <div class="instructions">
                                <h6>
                                    {% for instr in instruction %} {% autoescape off %} {{ instr.instruction }} {% endautoescape %} {% endfor %}
                                </h6>
                            </div>
            
                            <a href={% url 'category' category.category 1 %}>
                                <button type="button" class="btn btn-raised btn-primary">OK</button>
                            </a>
            
                        </div>
                    </div>
                </div>
            </div>

            <div id="clockdiv" class="clockdiv">
                <div class="bg-danger">
                    <span class="hours"></span>
                    <div class="smalltext">Hours</div>
                </div>
                <div class="bg-danger">
                    <span class="minutes"></span>
                    <div class="smalltext">Minutes</div>
                </div>
                <div class="bg-danger">
                    <span class="seconds"></span>
                    <div class="smalltext">Seconds</div>
                </div>
            </div>
        </div>
    </header>



    <main class="question-area">
        <div class="row">
            <div class="col-9">
                <div class="row">

                    <section class="col-12 categories">
                        {% for category in all_category %}
                        <span class="category" id={{ category.category }}>
                            <a href={% url 'category' category.category 1 %}>
                                <button type="button" class="btn btn-primary">{{ category.category }}</button>
                            </a>
                        </span>
                        {% endfor %}

                    </section>
                    <section class="col-12 question-options">
                        <div class="question">
                            <span class="question-no." style="float: left">
                                {{ id }}.
                            </span>
                            <h6>
                                 {% autoescape off %}
                               {{ question.question_text|safe|escape }}
                                {% endautoescape %}
                            </h6>
                        </div>
                        <div class="options"  id={{ question_id }}>
                            <div class="radio">
                                    <input type="radio" name="optionsRadios"  value="1" class="option1">
                                <label style="color:#000;">{{ question.choice1|safe|escape }}</label>
                            </div>
                            <br><br>
                            <div class="radio">
                                    <input type="radio" name="optionsRadios"  value="2" class="option2">
                                <label style="color:#000;">{{ question.choice2|safe|escape}}</label>
                            </div>
                            <br><br>
                            <div class="radio">
                                    <input type="radio" name="optionsRadios" value="3" class="option3">
                                <label style="color:#000;">{{ question.choice3|safe|escape }}</label>
                            </div>
                            <br><br>
                            <div class="radio">
                                    <input type="radio" name="optionsRadios" value="4" class="option4">
                                    <label style="color:#000;">{{ question.choice4|safe|escape }}</label>
                            </div>
                            <br>
                        </div>
                    </section>

                    <section class="col-12 ">
                        <div class="response">
                            {% if id == 1 %}
                            <button type="button" class="btn btn-raised btn-primary csq" disabled>Previous</button>
                            {% else %}
                            <a href={% url 'category' category.category id|add:"-1" %}>
                                <button type="button" class="btn btn-raised btn-primary csq" data-id="2">Previous</button>
                            </a>
                            {% endif %}

                            <a href={% url 'category' category.category id|add:"1" %}>
                                <button type="button" class="btn btn-raised btn-warning csq" data-id="2">Mark for review & next</button>
                            </a>
                            <a href={% url 'category' category.category id|add:"1" %}>
                                <button type="button" class="btn btn-raised btn-primary csq" data-id="3">Save and next</button>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-3">
                <div class="row question-status">
                    {% for i, value in status_dict.items %}
                    <div class="col-4">
                        <a href={% url 'category' category.category i %}>
                        {% if value == 1 %}
                            <button type="button" class="btn btn-raised btn-active status1" style="background-color: white">{{ i }}</button>
                            {% elif value == 2 %}
                            <button type="button" class="btn btn-raised btn-active status2" style="background-color: blue">{{ i }}</button>
                            {% elif value == 3 %}
                            <button type="button" class="btn btn-raised btn-active status3" style="background-color: red">{{ i }}</button>
                            {% endif %}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>



<script>
    $(document).ready(function() {
        $("input").on('change', function () {
            var option_number = $("input[name='optionsRadios']:checked").val();
            var question_id = "{{ question_id }}";

            $.ajax({
                url: '{% url 'answer' %}',
                data: {
                    'option_number': option_number,
                    'question_id': question_id,

                },
                success: function (data) {
                    var value = data.candidate_answer;
                    if(value==-2){
                        window.location.href = data.url;
                    }
                    else{
                    $('.options').find(':radio[name=optionsRadios]').prop('checked', false);
                    $('.options').find(':radio[name=optionsRadios][value="' + value + '"]').prop('checked', true);
                }}
            })
        })
    });


    $(window).on("load", function() {
        var question_id = "{{ question_id }}";
        console.log(question_id);
        $.ajax({
                url: '{% url 'user_answer' %}',
                data: {
                    'question_id': question_id,
                },
                success: function (data) {
                    var value = data.candidate_answer;

                    $('.options').find(':radio[name=optionsRadios]').prop('checked', false);
                    if(value!=-1){
                    $('.options').find(':radio[name=optionsRadios][value="' + value + '"]').prop('checked', true);
                }}
            })
    });


    $(document).ready(function() {
        $(".csq").on('click', function () {
            var status = $(this).attr("data-id");
            console.log("st->",status);
            var question_id = $(".options").attr("id");
            $.ajax({
                url: '{% url 'save_status' %}',
                data: {
                    'question_id': question_id,
                    'status': status
                },
                success: function (data) {
                    console.log(data.status);
                }
            })
        })
    });

</script>
         <script>

        function getTimeRemaining(endtime) {
            var t = Date.parse(endtime) - Date.parse(new Date());
            var seconds = Math.floor((t / 1000) % 60);
            var minutes = Math.floor((t / 1000 / 60) % 60);
            var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
            return {
                'total': t,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
            };
        }

        function initializeClock(id, endtime) {
            var clock = document.getElementById(id);
            var daysSpan = clock.querySelector('.days');
            var hoursSpan = clock.querySelector('.hours');
            var minutesSpan = clock.querySelector('.minutes');
            var secondsSpan = clock.querySelector('.seconds');

            function updateClock() {
                var t = getTimeRemaining(endtime);

                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if (t.total <= 0) {
                    clearInterval(timeinterval);
                    window.location = "{% url 'ending' %}"
                }
            }

            updateClock();
            var timeinterval = setInterval(updateClock, 1000);
        }
        var time = {{ remain_time }};
        console.log(time);
        var deadline = new Date(Date.parse(new Date()) + time * 1000 );
        initializeClock('clockdiv', deadline);
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script> 

</body>

</html>
