{% extends 'candidate/base.html' %}
{% block title %}{{ category }}{% endblock %}

{% load staticfiles %}

{% block content %}
        <div class="row">
            <div class="col-9">
                <div class="row">

                    <section class="col-12 categories">
                        {% for category in all_category %}
                        <span class="category" id={{ category.category }}>
                            <a href={% url 'category' category.category 1 %}>
                            <button type="button" class="btn btn-primary">{{ category.category }}</button>
                            </a>
                        </span>
                        {% endfor %}

                    </section>
                    <section class="col-12 question-options">
                        <div class="question">
                            <span class="question-no.">
                                1.
                            </span>
                            <h6>
                                 {% autoescape off %}
                               {{ question.question_text|safe|escape }}
                                {% endautoescape %}
                            </h6>
                        </div>
                        <div class="options" id={{ question_id }}>
                            <div class="radio">
                                    <input type="radio" name="optionsRadios"  value="1" class="option1">
                                    {{ question.choice1|safe|escape }}
                            </div>
                            <div class="radio">
                                    <input type="radio" name="optionsRadios"  value="2" class="option2">
                                    {{ question.choice2|safe|escape }}
                            </div>
                            <div class="radio">
                                    <input type="radio" name="optionsRadios" value="3" class="option3">
                                    {{ question.choice3|safe|escape }}
                            </div>
                            <div class="radio">
                                    <input type="radio" name="optionsRadios" value="4" class="option4">
                                    {{ question.choice4|safe|escape }}
                            </div>
                        </div>
                    </section>

                    <section class="col-12">
                        <button type="button" class="btn btn-raised btn-primary">Previous</button>
                        <button type="button" class="btn btn-raised btn-warning">Mark for review & next</button>
                        <button type="button" class="btn btn-raised btn-primary">Save and next</button>
                    </section>
                </div>
            </div>
            <div class="col-3">

                <div class="row question_status">
                    {% for i in total_question_dict %}
                    <div class="col-4">
                        <a href={% url 'category' category.category i %}>
                        <button type="button" class="btn btn-raised btn-active">{{ i }}</button>
                        </a>
                    </div>
                    {% endfor %}

                    <div class="col-12">
                        <button type="button" class="btn btn-raised btn-primary disabled">Submit</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block script %}
    $(document).ready(function() {
        $("input").on('change', function () {
            var option_number = $("input[name='optionsRadios']:checked").val();
            var question_id = $(".options").attr("id");
            $.ajax({
                url: '{% url 'answer' %}',
                data: {
                    'option_number': option_number,
                    'question_id': question_id,
                },
                success: function (data) {
                    var value = data.candidate_answer
                    if(value==-2){
                        window.location.href = data.url;
                    }
                    else{
                    $('.options').find(':radio[name=optionsRadios]').prop('checked', false);
                    $('.options').find(':radio[name=optionsRadios][value="' + value + '"]').prop('checked', true);
                }}
            })
        })
    })

    $(window).on("load", function() {
        var question_id = $(".options").attr("id");
        $.ajax({
                url: '{% url 'user_answer' %}',
                data: {
                    'question_id': question_id,
                },
                success: function (data) {
                    var value = data.candidate_answer

                    $('.options').find(':radio[name=optionsRadios]').prop('checked', false);
                    if(value!=-1){
                    $('.options').find(':radio[name=optionsRadios][value="' + value + '"]').prop('checked', true);
                }}
            })
    })

{% endblock %}