{% extends 'core/../admin/base.html' %}
{% block title %}{{ category }}{% endblock %}
{% block content %}

{% block login %}
    <span>Hello {{ request.session.name}}</span>
        <a href={% url 'session_out' %} >Logout</a>
{% endblock %}
    <ul>
        {% for category in all_category %}
            <li><a href={% url 'category' category.category 1 %}>{{ category.category }}</a></li>
        {% endfor %}
    </ul>
     <h1>{{ category_name }}</h1>
        {% if category %}
            {% if question %}
                {% autoescape off %}
                {{ question.question_text }}
                 <ol>
                      <li>{{ question.choice1 }}</li>
                      <li>{{ question.choice2 }}</li>
                      <li>{{ question.choice3 }}</li>
                      <li>{{ question.choice4 }}</li>
                 </ol>
                {% endautoescape %}
            {% else %}
                <strong>No questions currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
{% endblock %}
