{% load static %}
<html>
<head>
	<title>Score</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/instruction.css' %}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>

	<div class="z-depth-40 card">
    <h2 class="title">Score Page</h2>

    <div class="svg-wrapper">
        
        <h3>Correct answers:{{ correct }}</h3>
        <h3>Negative:{{ negative }}</h3>
        <h3>Unanswered Questions:{{ unanswered }}</h3>
        <h3>Total Score:{{ score }}</h3>
        <h3><a href="/thank-you/">Continue</a></h3>
       </div>

       
  </div>
</div>

<script>
var list = document.getElementsByTagName('li');
var listNum = list.length;
for(var i=0; i<listNum; i++){
list[i].setAttribute('class', 'flow-text');
list[i].setAttribute('style', 'margin-left:10%;margin-right:10%;');
list[i].setAttribute('id', 'points');
}
</script>

</body>
</html>
