body{
    background-image:  url("../assets/images/recruitment\ poster.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    overflow: hidden;
}

main .instructions-container{
    width: 1000px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5), 0 2px 5px 0 rgba(0,0,0,.8);
    border-radius: 1rem;
    padding: 0px;
    margin: 120px auto;
}

main .instructions-container .bg-img{
    background-image: url('../assets/images/recruitment\ poster.png');
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-repeat: no-repeat;
}

main .instructions-container .img{
    width: 300px;
    height: auto;
    margin-top: 80px;
    transition: 2s;
}

main .instructions-container .img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

main .instructions-container .col-8{
    padding: 0px;
}

main .instructions-container .instructions{
    height: 94%;
    overflow-y: scroll;
    padding-left: 15px;
    margin-top: 12px;
}

main .instructions-container .instructions .ok-btn{
    padding: 0 25px;
}

main .instructions-container .instructions ol{
    padding: 20px !important;
    margin: 0;
    list-style: none;
    counter-reset: item;
}

main .instructions-container .instructions li{
    padding: 10px 0px;
    counter-increment: item;
}

main .instructions-container .instructions li:before{
    content: counter(item);
    background: #3b95ed;
    border-radius: 100%;
    color: #fff;
    width: 1.2rem;
    text-align: center;
    display: inline-block;
}

main .instructions-container .instructions li p{
    display: inline-block;
}

main .instructions-container .instructions li:nth-child(even){
    background-color: #eee;
}

main .instructions-container .instructions li:nth-child(1){
    margin-top: 50px;
}

main .instructions-container .instructions li:hover{
    background-color: #eee;
}

main .instructions-container .instructions li p{
    margin: 0;
}

main .instructions-container .instructions a{
    margin: auto;
}

main .instructions-container .instructions a button{
    width: 100%;
}