body{
    background-color: #eee;
    background:url('../assets/images/new1.png');
    font-family: 'Roboto', sans-serif;
}

.btn-primary{
    background-color: #3b95ed !important;
}

.text-primary{
    color: #3b95ed !important;
}

.radio label input[type=radio]:checked~.bmd-radio:before, label.radio-inline input[type=radio]:checked~.bmd-radio:before {
    background-color: #3b95ed !important;
}

.radio label input[type=radio]:checked~.bmd-radio:after, label.radio-inline input[type=radio]:checked~.bmd-radio:after {
    border-color: #3b95ed !important;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image: linear-gradient(0deg,#3b95ed 2px,rgba(63,81,181,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

header .navbar{
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);
    padding: 1vh 5vw;
}

header .navbar .logo img{
    width: 40px;
    height: auto;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3b95ed;
}