body{
    background-color: #eee;
}

header .navbar{
    height: 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

header .navbar .logo img{
    width: 40px;
    height: auto;
}

header .navbar .heading{
    font-family: 'Montserrat', sans-serif;
}

header .inst-timer {
    height: 100px;
    padding: 10px;
    background-color: #f5f5f5;
    font-family: sans-serif;
    font-weight: 100;
}

header .inst-timer .btn{
    margin: 10px;
}

header .clockdiv{
    float: right;
    font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 25px;
}

header .clockdiv > div{
    padding: 5px;
	border-radius: 3px;
	display: inline-block;
}

header .clockdiv > div span{
	padding: 10px 15px 0px 15px;
	border-radius: 3px;
	display: inline-block;
}

header .smalltext{
	font-size: 16px;
}

main .categories{
    width: 100%;
    background-color: #fff;
}

main .categories .btn{
    margin: 2px 2px 0px 2px;
}

main a:hover{
    text-decoration: none;
}

main .question-options{
    width: 100%;
    background-color: rgb(255, 241, 241)
}

main .question-options .question{
    padding: 25px;
}

main .question-options .options{
    padding: 25px;
}
