@import url('https://fonts.googleapis.com/css?family=Raleway:700');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    background: url('../assets/images/newbkg0.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 115vh;
    overflow: hidden;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3b95ed;
}


.timer {
    height: 80px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 100;
    padding:8px 150px 0 0;
}

.timer .btn{
    margin: 5px;
   
}

.clockdiv{
    float: right;
    color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 25px;
}

.clockdiv > div{
    padding: 0px 5px 0px 5px;
	border-radius: 8px;
	display: inline-block;
}

.clockdiv > div span{
	padding: 0px 15px;
	border-radius: 3px;
	display: inline-block;
}

.smalltext{
	font-size: 16px;
}

main{
    margin:0 0 0 0;
}

body.stop-scrolling {
    height: 100vh !important;
}
main .question-area{
    minwidth: 1000px;
    margin: auto;
    border-radius: 0rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5), 0 2px 5px 0 rgba(0,0,0,.65);
}

main .question-area{
    padding-right: 0;
}

main .question-area .navbar{
    box-shadow: 0 0 0 0;
    justify-content: unset !important;
    padding: 0px;
    transition: 1s;
    height: 50px;
}

main .question-area .navbar a:hover{
    text-decoration: none !important;
}

main .question-area .navbar ul{
    padding: 10;
    margin-left:10px;
    margin-top: -12px;
}


.nav-item::after{
    content:' ';
    display:block;
    width:0;
    height:2px;
    color:white !important;
    background:#000;
    transition:width .3s;

}
.nav-item:hover::after
{
    width:100%;
}
.nav-item:hover{
color:white !important;
}
 main .question-area .navbar .active {

    cursor: pointer;
    border-radius: 5px;
}

main .question-area .navbar .nav:hover {
    cursor: pointer;
    border-radius: 5px;
}

main .question-area .nav-break{
    margin-top: 0 !important;
    margin-right: 1rem;
}

main .question-area .navbar .algo-design{
    margin-right: 0;
}

main .question-area .ques-scroll{
    overflow-y: auto;
    height: 22.5rem;
}

#opt-btn{
  margin: 20px;
  padding-left: 10px;
}
main .question-area .action .btn-primary{
    width: 25%;
}

main .question-area .action .btn-warning{
    width: 40%;
}

main .question-area .action .btn-success{
    width: 25%;
}

main .question-area .inst-response{
    background-color: #eee;
}

main .question-area .response{
    height: 437.5px;
}

main .question-area .inst-response .end{
    padding:0 12px 0px 12px;
}

main .question-area .inst-response .end button{
    width: 100%;
}

main .question-area .response .inst-button{
    padding-top: 20px;
}

main .question-area .response .inst-button div{
    padding: 12px;
}

main .question-area .response .inst-button hr{
    margin-top: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

main .question-area .response .inst-button div span{
    padding-left: 10px;
}

main .question-area .response button{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

main .question-area .response .inst-button .btn-primary:hover{
    background-color: #fff !important;
}

main .question-area .response .btn-primary{
    background-color: #fff;
    padding: 7px 10px 10px 10px;
    color: #000;
    font-weight:bold;
}

main .question-area .response span h6{
    display: inline;
}

main .question-area .response .btn-primary:hover{
    color: #000;
}

main .question-area .ques-response{
    padding:18px;
    height: 265px;
    overflow-y: auto;
}

main .row{
    margin: 0px;
    padding: 0px;
}

main [class*="col-"]{
    padding: 0px;
    border-radius: 0.125rem;
}

main .question-area .question{
    margin-top: 2%;
    padding-left: 25px;
}

main .question-area .question div, p{
    display: inline;
    font-size:20px;
}

main .question-area .question .question-no{
    padding: 5px;
}

main .question-area .answers{
    margin-top: 20px;
    padding: 5px 40px;
}

.radio label input[type=radio]:checked~.bmd-radio:before, label.radio-inline input[type=radio]:checked~.bmd-radio:before{
    background-color: #3b95ed;
}

.checkbox-inline, .checkbox label, .is-focused .checkbox-inline, .is-focused .checkbox label, .is-focused .radio-inline, .is-focused .radio label, .is-focused .switch label, .radio-inline, .radio label, .switch label {
    color: #000;
}
nav ul li {
 -webkit-transition: background-color .3s;
   transition: background-color .3s;
     float: left;
    padding: 0;
}
nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: black;
    padding: 0 15px;
    cursor: pointer;
    font-family:poppins;
}
nav ul li a:hover{
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #310e8bf5;
    padding: 0 15px;
    cursor: pointer;
    font-family:poppins;
}

.modal {
    background-color: transparent;
    padding: 0;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}
.si-logo {
    height: 3.5rem;
    width: 3rem;
    margin: 5px 0 0 44px;
    }

.test_name{
float:center;
font-family:poppins;
font-size:32px;
}
.candidate-name{

font-family:poppins;
font-size:21px;
}
a:hover {
text-decoration:none;
}
.container{
padding:0 0 0 0;
}
.qna{
padding:2.5%;
}
nav{
background-color:#ffffff00;
color:white;
}
.bg-danger{
background-color:#e64f4f !important;
}
.btn.btn-raised.btn-danger{
background-color:#e54343 !important;
}
.nav ul a:hover{
color:white;
}
.test_name{
color:white !important;

}
.test_name_test{
margin:0 0rem 0 0;
}
#add_ques{
color:black;
}
#add_ques:hover{
color:#310e8bf5;
}

.modal-dialog {
    margin: 1.75rem auto;
    width:100%;
}
.radio label input[type=radio]:checked~.bmd-radio:after, label.radio-inline input[type=radio]:checked~.bmd-radio:after {
border-color:black !important;
}
span.bmd-radio::after{
margin:17px 0 0 -5px;
padding:0 0 0 0 !important;
background:#310e8bf5 !important;
}

span.bmd-radio::before{
margin:5px 0 0 0;
background:transparent !important;
}

[type="radio"]:not(:checked){
border-color:red !important;
}

.radio label .bmd-radio:before, label.radio-inline .bmd-radio:before {
    position: absolute;
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background-color: #009688;
    border-radius: 50%;
    transition: transform .28s ease;
    transform: none;
    margin:17px 0 0 -5px;
}


@media (min-width: 576px)
.modal-dialog {
    max-width: 0px !important;
    margin: 0rem auto !important;
}

.modal-dialog {
    position: relative !important;
    width:100% !important;
    margin: 0rem !important;
    pointer-events: none !important;
}
.modal .modal-content {
    padding: 20px !important;
    width: 148% !important;
}
.modal-open .modal{
margin-right:23% !important;
}
.ripple-container{
display:none !important;
}

#circle1 {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: white;
      float:left;
      margin:-8px 0 0 0;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    }

#circle2 {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #ff5722;
      margin:-8px 0 0 0;
      float:left;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    }

#circle3 {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #4caf50;
      margin:-8px 0 0 0;
      float:left;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    }
