body{
    background-image: url("../assets/images/recruitment\ poster.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; 
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3b95ed;
}

header .navbar{
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 0px px 0 rgba(0,0,0,.12);
}

header .navbar .logo img{
    width: 40px;
    height: auto;
}

header .navbar .heading{
  
}

.timer {
    height: 80px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 100;
}

.timer .btn{
    margin: 5px;
}

.clockdiv{
    float: right;
    color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 25px;
}

.clockdiv > div{
    padding: 2px 5px 0px 5px;
	border-radius: 3px;
	display: inline-block;
}

.clockdiv > div span{
	padding: 0px 15px;
	border-radius: 3px;
	display: inline-block;
}

.smalltext{
	font-size: 16px;
}

main{
    margin: auto;
}

main .question-area{
    width: 1000px;
    height: 500px;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,.5), 0 10px 15px 0 rgba(0,0,0,.65);
}

main .question-area .navbar{
    box-shadow: 0 0 0 0;
    justify-content: unset !important;
    padding-bottom: 0px;
    transition: 1s;
}

main .question-area .navbar ul{
    padding: 0;
}

main .question-area .navbar ul li{
    padding: 5px 10px 0 10px;
}

main .question-area .navbar .active {
    background-color: #eee;
    border-top: 1.5px solid #3b95ed;
    border-left: 1px solid #3b95ed;
    border-right: 1px solid #3b95ed;
    cursor: pointer;
}

main .question-area .navbar .nav:hover {
    background-color: #eee;
    border-top: 1.5px solid #3b95ed;
    cursor: pointer;
}

main .question-area .nav-break{
    margin-top: 0 !important;
}

main .question-area .ques-scroll{
    overflow-y: scroll;
    height: 400px;
}

main .question-area .action .btn-primary{
    width: 25%;
}

main .question-area .action .btn-warning{
    width: 40%;
}

main .question-area .action .btn-success{
    width: 25%;
}

main .question-area .inst-response{
    background-color: #eee;
}

main .question-area .response{
    height: 450px;
}

main .question-area .inst-response .end{
    padding: 10px;
}

main .question-area .inst-response .end button{
    width: 100%;
}

main .question-area .response .inst-button{
    padding-top: 20px; 
}

main .question-area .response .inst-button div{
    padding-left: 10px;
}

main .question-area .response .inst-button div span{
    padding-left: 10px;
}

main .question-area .response button{
    width: 30px;
    height: 30px;
}

main .question-area .response .btn-primary{
    background-color: #fff;
    color: #000;
}

main .question-area .response span h6{
    display: inline;
}

main .question-area .ques-response{
    padding: 5px;
    height: 230px;
    overflow-y: scroll;
}

main .row{
    margin: 0px;
    padding: 0px;
}

main [class*="col-"]{
    padding: 0px;
    border-radius: 0.125rem;
}

main .question-area .question{
    margin-top: 50px;
}

main .question-area .answers{
    margin-top: 20px; 
    padding: 5px 40px;
}
